[submodule "components/Core2-for-AWS-IoT-Kit"]
	path = components/Core2-for-AWS-IoT-Kit
	url = https://github.com/rashedtalukder/Core2-for-AWS-IoT-Kit.git
[submodule "components/esp32-fft"]
	path = components/esp32-fft
	url = https://github.com/rashedtalukder/esp32-fft.git
[submodule "components/core2foraws-screenshot"]
	path = components/core2foraws-screenshot
	url = git@github.com:rashedtalukder/core2foraws-screenshot.git
