[submodule "components/esp-cryptoauthlib"]
	path = components/esp-cryptoauthlib
	url = https://github.com/espressif/esp-cryptoauthlib
[submodule "components/Core2-for-AWS-IoT-Kit"]
	path = components/Core2-for-AWS-IoT-Kit
	url = https://github.com/rashedtalukder/Core2-for-AWS-IoT-Kit.git
[submodule "components/esp32-fft"]
	path = components/esp32-fft
	url = https://github.com/rashedtalukder/esp32-fft.git
